/*--------------------------------------------------------------
# toolss Section
--------------------------------------------------------------*/
.toolss {
  margin-top: 80px;
}

.toolss .tools-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  background: var(--color-secondary);
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.toolss .tools-item .stars {
  margin-bottom: 15px;
}

.toolss .tools-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.toolss .tools-item .tools-img {
  width: 90px;
  border-radius: 50%;
  border: 5px solid #474a4d;
  margin: 0 auto;
}

.toolss .tools-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.toolss .tools-item h4 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.toolss .tools-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.toolss .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.toolss .swiper-pagination .swiper-pagination-bullet {
  
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

.toolss .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.5);
}

.toolss .swiper-slide {
  position: absolute;
  top: 20px;
  opacity: 0.3;
}

@media (max-width: 1199px) {
  .toolss .swiper-slide-active {
    opacity: 1;
  }

  .toolss .swiper-pagination {
    margin-top: 0;
  }

  .toolss .tools-item {
    margin: 40px 20px;
  }
}

@media (min-width: 1200px) {
  .toolss .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}
